*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.works{
    background-color: rgb(211, 161, 67);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border: none;
    border-radius: 10px;
}

#paragraph{
  font-size: 20px; 
  margin-bottom: 40px; 
}


.author{
    margin-left: 270px;
    margin-bottom: 20px;
}

.boxes{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

#btn{
    background: rgb(23,124,229);
    height: 30px;
    width: 85px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
}

#tweet{
    color: white;
    background: rgb(23,124,229);
    height: 30px;
    width: 85px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 6px;
    padding: 8px;
}

#imgtweet{
    margin-left: 5px;
    height: 15px;
    width: 15px;
    border-radius: 5px;
}